<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FCC Request Header Parser</title>
  <style>

body {
  background-color: #FEFDE3;
}

.container {
  text-align: center;
}

h1, h2 {
  font-family: "Garamond", sans-serif;
  font-weight: normal;
}

code {
  background-color: #B1B08D;
}

  </style>
</head>
<body>
  <div class="container">
    <h1>FreeCodeCamp Request Header Parser API</h1>

    <h2>Example usage</h2>
    <code>&lt;baseURL&gt;/api</code>

    <h2>Example response</h2>
    <code>
      {
        ipaddress: "::1",
        language: "vi,en-US;q=0.9,en;q=0.8",
        software: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36"
      }
    </code>
  </div>
</body>
</html>
