<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>FCC Request Header Parser</title>
  <style>

body {
  background-color: #FEFDE3;
  font-family: "Gill Sans", sans-serif;
}

.container {
  text-align: center;
  margin: 2rem 3rem 3rem;
}

h1, h2, h3 {
  font-weight: normal;
}

form {
  margin-top: 1rem;
}

code {
  background-color: #B1B08D;
}

hr {
  margin-top: 1.5rem;
  width: 50%;
}

  </style>
</head>
<body>
  <div class="container" id="app">
    <h1>FreeCodeCamp API Projects</h1>
    <api v-for="api in apis" :key="api.id" :info="api" ></api>
  </div>
  <script>

Vue.component("usage", {
  template: `
    <div>
      <h3>Usage</h3>
      <code><slot></slot></code>
    </div>
  `
});

Vue.component("response", {
  template: `
    <div>
      <h3>Example response</h3>
      <code><slot></slot></code>
    </div>
  `
});

Vue.component("custom-form", {
  props: ["forminfo"],
  template: `
    <form :action="forminfo.action" :method="forminfo.method" :enctype="forminfo.enctype">
      {{ forminfo.inputtext }}: <input :type="forminfo.type" :name="forminfo.name">
      <button type="submit">{{ forminfo.buttontext }}</button>
    </form>
  `
})

Vue.component("api", {
  props: ["info"],
  template: `
    <div class="api" :id="info.idname">
      <hr>
      <h2>{{ info.title }}</h2>
      <usage>{{ info.usage }}</usage>
      <custom-form v-if="info.needform" :forminfo="info.form"></custom-form>
      <response>{{ info.response }}</response>
    </div>
  `
})

let app = new Vue({
  el: "#app",
  data: {
    apis: [
      {
        id: 1,
        idname: "timestamp",
        title: "Timestamp",
        usage: "GET <base-url>/api/timestamp/:date_string?",
        needform: false,
        response: {
          unix: 1536119730959,
          utc: "Wed, 05 Sep 2018 03:55:30 GMT"
        }
      },
      {
        id: 2,
        idname: "header",
        title: "Request Header Parser",
        usage: "GET <base-url>/api/header",
        needform: false,
        response: {
          ipaddress: "::1",
          language: "vi,en-US;q=0.9,en;q=0.8",
          software: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36"
        }
      },
      {
        id: 3,
        idname: "shorturl",
        title: "URL Shortener",
        usage: "POST <base-url>/api/shorturl/new | GET <base-url>/api/shorturl/:short",
        needform: true,
        form: {
          action: "/api/shorturl/new",
          method: "post",
          type: "text",
          enctype: null,
          inputtext: "Long URL",
          name: "longUrl",
          buttontext: "Shorten"
        },
        response: {
          original_url: "https://www.tinhte.vn",
          short_url: 1
        }
      },
      {
        id: 4,
        idname: "metadata",
        title: "File Metadata",
        usage: "POST <base-url>/api/metadata",
        needform: true,
        form: {
          action: "/api/metadata",
          method: "post",
          type: "file",
          enctype: "multipart/form-data",
          inputtext: "Choose a file",
          name: "upfile",
          buttontext: "Read metadata"
        },
        response: {
          name: "SonNT.jpg",
          type: "image/jpeg",
          size: 529913
        }
      },
      {
        id: 5,
        idname: "imagesearch",
        title: "Image Search Abstraction",
        usage: "GET <base-url>/api/imagesearch/:query?offset=:offset | GET <base-url>/api/latest/imagesearch",
        needform: false,
        response: [
          {
            url: "https://i.ytimg.com/vi/HLkA_Xk0UTo/hqdefault.jpg",
            snippet: "The best of funny lolcats! - YouTube",
            thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKMUDdSnkry-t5eXX4wbNrWn4etJl8KEJH1vPvGuYqqLqfuzoLYOmqPXVm",
            context: "https://www.youtube.com/watch?v=HLkA_Xk0UTo"
          }
        ]
      }
    ]
  }
});

  </script>
</body>
</html>
